<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="siteUrl" value="[site-url]" />
    <add key="serviceUrl" value="http://www.trackip.net/ip" />
    <add key="minutesBetweenMonitoring" value="60" />
    <add key="fromAddress" value="[from-email-address]" />
    <add key="toAddress" value="[to-email-address]" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="[from-email-address]">
        <!-- fill with mail settings -->
        <network />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>